{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": [ "arn:aws:iam::{{ aws_account_number }}:role/{ network.org_name }}-{{ env }}-gitactions-admin",
                 "arn:aws:iam::{{ aws_account_number }}:role/tf_automation"]
      },
      "Action": [
		"secretsmanager:Get*",
		"secretsmanager:CreateSecret",
		"secretsmanager:Delete*",
		"secretsmanager:DescribeSecret",
		"secretsmanager:Put*",
		"secretsmanager:RestoreSecret",
		"secretsmanager:RotateSecret",
		"secretsmanager:TagResource",
		"secretsmanager:UnTagResource",
		"secretsmanager:UpdateSecret",
		"secretsmanager:ValidateResourcePolicy",
		"secretsmanager:List*
	  ]
      "Resource": "*"
    },
	{
      "Effect": "Allow",
      "Principal": {
        "AWS": [ "arn:aws:iam::{{ aws_account_number }}:role/{ network.org_name }}-{{ env }}-openidl-apps",
				 "arn:aws:iam::{{ aws_account_number }}:role/{ network.org_name }}-{{ env }}-baf-automation"]
      },
      "Action": [
		"secretsmanager:GetSecretValue",
		"secretsmanager:DescribeSecret",
		"secretsmanager:GetRandomPassword",
		"secretsmanager:List*
	  ]
      "Resource": "*"
    }
  ]
}